/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    margin: 0;
    padding: 20px;
}

h1 {
    color: white;
}

h2 {
	color: #333;
}


#chatContainer {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#messageContainer {
    flex: 2;
    margin-right: 20px;
}

#onlineUsersContainer {
    flex: 1;
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

#signOutButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

#signOutButton:hover {
    background-color: #c9302c;
}

#messages, #onlineUsers {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    max-height: 300px;
    overflow-y: auto;
}

#messages li {
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

#onlineUsers li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.online-dot {
    width: 10px;
    height: 10px;
    background-color: #28a745;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

form {
    display: flex;
    margin-top: 20px;
}

form input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}

form button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

form button:hover {
    background-color: #4cae4c;
}
