<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join Chat</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginstyle.css}">
</head>
<body>
    <div class="container">
        <div id="joinContainer">
            <h1>Join the Chat</h1>
            <form th:action="@{/join}" method="post">
                <input type="text" name="username" placeholder="Enter your username" required>
                <button type="submit">Join</button>
            </form>
        </div>
    </div>
</body>
</html>
